*{
    margin: 0 auto;
}

body{
    background: url("./img/auth.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

/*Concerne toutes les Cards contenant les formulaires et textes */
.login {
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

/*Concerne tous les formulaires */
form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*Concerne tous les elements button contenus dans les formulaires */
.button{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.MuiPaper-root{
    text-align: center;
}

.MuiStepLabel-label.MuiStepLabel-active{
    text-align: center;
    color: white;
}

span{
    color: white
}

.g-recaptcha{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.errorMessage{
    color: red;
font-size: 15px;
padding-left: 10px;
}

.container{
    margin: 0 25px;
}

.spinner{
    color:brown;
    text-align: center;
}