html{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
}


.text{
    display: flex;
    align-items: center;
    margin-top: 10px;
}



.containerCard{
    display: flex;
    flex-direction: column;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card{
    margin: 30px;
    padding: 30px;
}

.button{
    display: flex;
    flex-direction: column; 
}

.button > button{
    margin-bottom: 15px;
}

p {
    color: white;
    display: inline-block;
    width: 170px;
    text-align: left;

}

.title{

}

button:hover{
    background-color: rgba(185, 149, 52, 0.87);
}

.description{
    height: 150px;
    display: flex;
    padding: 10px;
}