.FormikField{
    margin: 10px 0;
    width: 100%;
}

.errorMessage{
    color: red;
font-size: 15px;
padding-left: 10px;
}

.Mui-required{
    color: red;
    font-size: 15px;
    padding-left: 10px;
}