input[type=checkbox], input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox], input[type=radio] {
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
}

input[type=radio] {
    -border-radius: 4px;
    height: 25px;
    width: 70px;
    background: rgb(1,101,209);
    background: radial-gradient(circle, rgba(1,101,209,1) 0%, rgba(1,4,9,1) 100%);    
    border: 2px solid rgba(1,4,9,1);
}

input[type="checkbox"]:checked, input[type=radio]:checked {
    background: rgb(209,121,1);
    background: radial-gradient(circle, rgba(209,121,1,1) 30%, rgba(1,4,9,1) 100%);
    margin:0px;
    position: relative;
}
input[type="checkbox"]:checked:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  
}

input[type=radio]:checked:before {
    font-family: FontAwesome;

    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  
}

input[type=radio]:hover {
    box-shadow:  10px 10px 20px -4px rgba(0,0,0,0.75);
    transition : box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
}


.container{
    max-height: 400px;
    width: 100%;
    align-self: center;
    background-color:border-box;
}

form{
    padding: 20px;
}

.card {
    padding :20px;
    background-color: #fff3;
}

.table{
    background-color: #fff3;
}

